*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
/* parte relativa al header */
header{
  position: relative;
  z-index: 1;
}
nav{
  position: fixed;
  right: 0;
}
.shortcut_page{
  float: right;
  background-color: white;
  border-radius: 50%;
  padding: 10px 15px;
  margin: 20px 30px 0 0;
  text-decoration: none;
  color: black;
}
/* parte relativa al header */

/* parte dedicata al layout */
[id^="row_"]{
  float: left;
  width: 100%;
  height: 100vh;
  position: relative;
}
#row_1{
  background-color: red;
}
#row_2{
  background-color: green;
}
#row_3{
  background-color: yellow;
}
/* parte dedicata al layout */

/* parte dedicata al posizionamento delle singole immagini */
main > section > img{
  height: 60%;
}
.shoes{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* parte dedicata al posizionamento delle singole immagini */

/* parte dedicata al posizionamento dei testi */
.shoes_t{
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 0%;
  left: 50%;
  font-size: 100px;
  font-weight: bold;
}
.shoes_t_1{
  color: yellow;
}
.shoes_t_2{
  color: yellow;
}
.shoes_t_3{
  color: green;
}
/* parte dedicata al posizionamento dei testi */
